/*  800 / 16 = 50  */
@media screen and (min-width: 50em) {

	.about .site-main {
		width: 60%;
		display: inline-block;
		margin-right: 0;
	}

	.about .widget-area {
		width: 34%;
		float: right;
		margin-right: 1.25rem; //  20 / 16 = 1.25
		margin-left: 0;
		padding-left: 1.25rem; //  20 / 16 = 1.25
	}

}