// .about {
// 	width: 60%;
// }

// .about + #secondary {
// 	width: 35%;
// 	float: right;
// 	margin-top: -170px;
// }

.widget_wptreehouse_badges_widget .widget-title {
	color: $color__ambers-orange;
}

.widget_wptreehouse_badges_widget .wptreehouse-badges {
	padding-left: 3.75rem; //  60 / 16 = 3.75
}

/*  800 / 16 = 50  */
@media screen and (min-width: 50em) {

	.about .site-main {
		width: 60%;
		display: inline-block;
		margin-right: 0;
	}

	.about .widget-area {
		width: 34%;
		float: right;
		margin-right: 1.25rem; //  20 / 16 = 1.25
		margin-left: 0;
		padding-left: 1.25rem; //  20 / 16 = 1.25
	}

	.widget_wptreehouse_badges_widget .widget-title {
		margin-top: 0.625rem; //  10 / 16 = 0.625
		text-align: center;
	}

	.widget_wptreehouse_badges_widget .wptreehouse-badges {
		padding-left: 1rem; //  20 / 16 = 1.25, but looks better at 1 :shrug:
	}

	.widget_wptreehouse_badges_widget .wptreehouse-badges .wptreehouse-badge {
		width: 5rem; // originally: 100px, 80 / 16 = 5
		height: 5.75rem; // originally: 116px, 92 / 16 = 5.75
		margin: 0.3125rem  0.9375rem; //  5 / 16 = 0.3125 , 15 / 16 = 0.9375
	}

}