.site {
	max-width: 1200px;
	margin: 0 auto;
}

.site-content {
	margin: 4.8125rem auto 0; /*  77 / 16  */
	/*max-width: 800px;*/
}

@media screen and (min-width: 660px) {
	.site-content{
		margin: 5.6rem auto 0;
	}
}

@media screen and (min-width: 900px) {
	.site-content{
		width: 67.5%;
		margin: 1.762rem 0 0 0;
		float: right;
	}
}