button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include font-size(1.1);
	line-height: 1;
}

button.menu-toggle{
	background: transparent;
	font-family: $font__headings;
	letter-spacing: 0.0625rem; /*  1 / 16  */
	box-shadow: none;
	text-shadow: none;
	color: $color__text-input-focus;
	border: none;
	float: left;
	margin: -2.0625rem 0 0 1.125rem; /*  -33 / 16 = -2.0625,  18 / 16 = 1.125  */
}

button.menu-toggle:after {
		content: "";
		display: block;
		background: url("img/nav-arrow.png") center/80% no-repeat;
		width: 30px;
		height: 30px;
		position: relative;
		left: 30px;
		top: -25px;
}

.main-navigation.toggled > button.menu-toggle {
	&:after {
		content: "";
		display: block;
		background: url("img/nav-arrow-up.png") center/80% no-repeat;
		width: 30px;
		height: 30px;
		position: relative;
		left: 30px;
		top: -25px;
	}
}

input[type="submit"] {
	border: 1px solid $color__text-main;
	background: $color__text-main;
	color: white;
	padding: .6em 1em .5em;
	&:hover,
	&:active,
	&:focus {
		background: white;
		color: $color__text-main;
	}

	@media screen and (min-width: 25em) {
		padding-bottom: .55em;
	}
}

.search-submit {
	margin-left: -5px;
}


















