input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__text-main;
	border: 1px solid $color__text-main;
	background: transparent;
	padding: 5px;
	// min-width: 265px;
}

input[type="email"],
input[type="url"],
input[type="password"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

input[type="text"],
input[type="search"],
input[type="email"] {
	color: $color__text-main;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid $color__text-main;
	background: transparent;
	padding: 5px;
	&:focus {
		outline: none;
	}
}

select {
	border: none;
	&:focus {
		outline: rgba(192,72,72,0.8) solid 3px;
	}
}

#primary-menu .menu-search-form {
	margin: o auto;
	> p {
		margin: 0 0 0 3.5em;
	}
}


// Contact Page (Let's Talk)

// .contact-form {
// 	background: tomato;

// 	> div {
// 		background: teal;
// 	}
// }

.contact-form > div > label,
.contact-form > div > input,
.contact-form > div > textarea {
	width: 100%;
}








