.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.entry-content img,
.entry-content p img {
	display: block;
	margin: 0 auto;
}

.entry-content img.alignright {
	margin: 1.5rem 0 1.5rem 1.5rem;
}

.entry-content img.alignleft {
	margin: 1.5rem 1.5rem 1.5rem 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";