h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__headings;
	letter-spacing: 0.0625rem; /*  1 / 16  */
}

h1 {
	@include font-size(1.566);
}

h2 {
	@include font-size(1.392);
}

h3 {
	@include font-size(1.238);
}

h4 {
	@include font-size(1.1);
}

h5 {
	@include font-size(0.978);
}

h6 {
	@include font-size(0.869);
}

.site-title,
p.site-title {
	font-family: $font__logo;
	letter-spacing: 0.0625rem; /*  1 / 16  */
	margin: 0.75rem 0 0 1.5rem; /*  12 / 16 = 0.75 */
	
	/*  400 / 16 = 25  */
	@media screen and (min-width: 25em) {
		/* margin-left: 1.5rem;  site-wide use 1.5, this is to work with title specifically */
	}
}

.site-title,
.site-description {
	// text-align: center;
	float: left;
}

.site-title,
.entry-title {
	@include font-size(1.238);

	/*  400 / 16 = 25  */
	@media screen and (min-width: 25em) {
		@include font-size(1.424);
	}
}

p.site-description {
	font-family: $font__headings;
	@include font-size(1.125);
	letter-spacing: 0.0625rem; /*  1 / 16  */
	margin: -0.375rem 0 0 1.5rem; /*  6 / 16 = 0.375  */
	clear: both;
}

@media screen and (min-width: 660px) {
	.site-title,
	p.site-title {
		@include font-size(1.762);
	}
	.site-description,
	p.site-description {
		@include font-size(1.392);
	}
}

@media screen and (min-width: 900px) {
	.site-title,
	p.site-title,
	.site-description,
	p.site-description {
		width: 100%;
	}
	.site-title,
	p.site-title {
		margin: 2.822rem auto 0;
		@include font-size(1.982);
	}
	.site-description,
	p.site-description {
		margin: 0 auto 2.23rem;
		@include font-size(1.392);
	}
}



