/* Typography sizes established through minor third ratio
   (1.125em, major second) applied to a base of 1.1em.
   http://www.modularscale.com/?1.1&em&1.125&web&text
*/

body,
button,
input,
select,
textarea,
.posted-on {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(0.978);
	line-height: $font__line-height-body;

	/*  400 / 16 = 25  */
	@media screen and (min-width: 25em) {
		@include font-size(1.1);
	}
}

@import "headings";

@import "copy";