ul, ol {
	margin: 0 0 1.566rem 0;
}

ul {
	list-style-type: none;
}

.content-area ul li:before {
	content: "\0BB \020";
	padding-right: 0.625rem; /*  10 / 16  */
}

.about ul.wptreehouse-badges li.wptreehouse-badge:before {
	content: none;
	padding-right: 0;
}

ol {
	list-style: decimal;
	margin-left: 1.25rem;  /*  20 / 16 = 1.25  */
}

.entry-content ol,
.entry-content ul {
	@include font-size(0.978);

	@media screen and (min-width: 500px) {
		@include font-size(1.1);
	}
}

@media screen and (min-width: 40em) {
	.entry-content ol {
		margin: 0 0 1.566rem 2.5rem; /*  1.566 is from modular scale, 2.5 = 40 / 16  */
	}
	.entry-content ul {
		margin: 0 0 1.566rem 1.25rem; /*  1.566 is from modular scale, 1.25 = 20 / 16  */
	}
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}