ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style-type: none;
	margin-left: 0;
}

.content-area ul li:before {
	content: "\0BB \020";
	padding-right: 0.625em; /*  10 / 16  */
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}