a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus,
	&:hover,
	&:active {
		outline: 0;
	}
}

.entry-content a,
.site-title a {
	&:focus,
	&:hover,
	&:active {
		-webkit-background-clip: text;
		color: #fff;
		font-weight: bold;
		-webkit-text-fill-color: transparent;
		background-image: -webkit-linear-gradient(left, $color__ambers-orange 10%, $color__ambers-purple 90%);
	}
}




















