.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
@media screen and (max-width: 899px) {
	button.menu-toggle {
		height: 2.5rem; /*  40 / 16  */ 
	}

	.menu-toggle,
	.main-navigation.toggled {
		padding-bottom: 0.9375rem; /*  15 / 16  */
		background: $color__header-bg;

		ul.nav-menu {
			display: block;
			text-align: right;

			> li.menu-item {
				width: 100%;
				a {
					padding: 0.1875rem 1rem 0.1875rem 0; /*  3 / 16 */
				}
			}
			li.menu-item-search > .menu-search-form {
				padding-right: 1.5rem;


			}
			> li.menu-item a:hover,
			> li.menu-item a:focus {
				font-weight: bold;
			}
			.current-menu-item a {
				padding: 5px;
				color: $color__background-body;
				background: $gradient-color1;
			}

			/*  Hover Brackets Effect in Chrome/FF  */
			> li.menu-item a:before,
			> li.menu-item a:after {
				display: inline-block;
				opacity: 0;
				transition: transform 0.3s, opacity 0.2s;
			}
			> li.menu-item a:before {
				margin-right: 10px;
				content: '[';
				transform: translateX(20px);
			}
			> li.menu-item a:after {
				margin-left: 10px;
				content: ']';
				transform: translateX(-20px);
			}
			> li.menu-item a:hover:before,
			> li.menu-item a:hover:after,
			> li.menu-item a:focus:before,
			> li.menu-item a:focus:after {
				opacity: 1;
				transform: translateX(0px);
			}
			/* End hover brackets effect */

		}
	}
}

// Allow full menu visibility without button on large display
@media screen and (min-width: 900px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;

		> li.menu-item {
			width: 100%;
			padding: 0.543rem 0 0.543rem 0;
			margin: 0;
			@include font-size(1.762);

			&:hover,
			&:focus,
			&:active {
				outline: 0;
				color: $color__background-body;
				background: $gradient-color1;
			}

			a:focus,
			a:active,
			a:hover {
				padding: 0;
				background: transparent;
			}

			/*  Hover Brackets Effect in Chrome/FF  */
			a:before,
			a:after {
				display: inline-block;
				opacity: 0;
				transition: transform 0.3s, opacity 0.2s;
			}
			a:before {
				margin-right: 10px;
				content: '[';
				transform: translateX(20px);
			}
			a:after {
				margin-left: 10px;
				content: ']';
				transform: translateX(-20px);
			}
			a:hover:before,
			a:hover:after,
			a:focus:before,
			a:focus:after {
				opacity: 1;
				transform: translateX(0px);
			}
			/* End hover brackets effect */
		}
		li.menu-item:last-of-type {
			&:hover,
			&:focus,
			&:active {
				color: $color__text-main;
				background: $color__header-bg;
			}
		}
	}	
}

.posts-navigation.nav-links {
	margin: 0 1.5em;
}

.comment-navigation,
.posts-navigation .nav-links {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	> div.nav-previous.alignleft {
		width: 6.25rem; /*  100 / 16 = 6.25 */
	}
	> div.nav-next.alignright {
		width: 6.875rem; /*  110 / 16 = 6.875  */
	}
}

.post-navigation {
	margin: 0 1.5em 0;

	> .nav-previous,
	> .nav-next {
		margin-bottom: 30px;
	}
}



















