.sticky {
	display: block;
}

.hentry {
	margin: 0 0 3rem;
}

.entry-title {
	border-bottom: black dashed 1px;
	margin: 10px auto 5px;
}

.byline,
.updated:not(.published){
	display: none;
}

.posted-on {
	@include font-size(0.869);
	float: right;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-header {
	margin: 0 1.6rem;
}

.entry-meta .byline {
	@include font-size(0.869);
}

.entry-content {
	margin: 1.5rem;
	img,
	p img {
		display: block;
		margin: 0 auto;
	}
}

hr {
	
}

.entry-content .more-link {
	float: right;
}

.page-content,
.entry-summary {
	margin: 1.5rem 0 0;
}

.entry-footer {
	margin: 1.5rem;
	text-align: center;
}

.entry-footer .comments-link,
.entry-footer .edit-link {
	padding: 1.5rem 1.5rem 1.5rem 0.543rem;
	font-family: $font__main;
	letter-spacing: initial;
	font-weight: normal;
	// @include font-size(0.978);
}

.page-links {
	clear: both;
	margin: 0 0 1.5rem;
}